.Layout {
    height: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 15% 80% 5%;
  }
  
  .Layout header {
    grid-column: span 6;
    position: sticky;
  }
  
  .Layout main {
    grid-column: span 5;
  }
  
  .Layout footer {
    grid-column: span 6;
    
  }
  .Layout, .Layout > * {
    border: 1px solid white;
  }
  
